/* 
  MARK:Variables
*/
/* Colors */
:root {
  
  --brown-color: #c8a97e;
  --midGray-color: #201f1f;
  --darkGray-color: #141313;
  --lightGray-color: #333333;
  --white-Primary: #ffffff;
  --white-Secondary: #fafafa;

}


/* 
  MARK:FONTS
*/
/* @font-face {
  font-family: 'CustomFont1';
  src: url('../fonts/custom-font1.woff2') format('woff2'),
       url('../fonts/custom-font1.woff') format('woff');
} */



* {
  font-family: 'Poppins', sans-serif;
}

.fs-6 {
  font-size: 0.9rem !important;
}

.pageTitle {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 50px;
}

/* 
  MARK:Navbar Style  
*/
.navStyle {
  background-color: var(--midGray-color);
}

.btn-brown {
  color: var(--white-Primary);
  font-size: 15px;
  background-color: var(--brown-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white-Primary);
  font-size: 15px;
}

#homelink {
  color: var(--brown-color);
}


/* 
  MARK:Hero Style
*/
#heroSection {
  height: 108vh;
  background-image: url(../images/bg_1.jpg);
  background-size: cover;
  background-position: center;
}

.heroContainerLayer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(16, 16, 16, 0.6);
}

.rest-name {
  color: var(--brown-color);
  font-size: 72px;
  font-family: 'Great Vibes', cursive;
}

.rest-name-caption {
  color: var(--white-Primary);
  font-size: 48;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* 
  MARK: Services
*/
/* Catering Services Page Style  */
#servicesPage {
  height: 70vh;
  color: var(--lightGray-color);
  padding: 50px;
  background-color: var(--white-Secondary);
}

#servicesPage i {
  color: var(--brown-color);
  font-size: 60px;
  margin: 20px 0px;
}


/* 
  MARK: Menu
*/
/* Our Menu Page Style  */
#menuPage {
  height: 135vh;
  color: var(--lightGray-color);
  padding: 50px;
  /* background-color: yellowgreen; */
}

#menuPage section {
  height: 35vh;
}

#menuPage section img {
  width: 100%;
  height: 100%;
}

#price {
  color: var(--brown-color);
}

.btn-order {
  width: 38%;
  color: var(--white-Primary);
  font-size: 15px;
  padding: 8px 0px;
  border-radius: 0.18rem;
  background-color: var(--brown-color);
}


/* 
  MARK: Master Chef
*/
/* Our Master Chef Page Style  */
#chefsPage {
  height: 90vh;
  color: var(--lightGray-color);
  padding: 5px;
  /* background-color: aquamarine; */
}

.chefImgContainer {
  /* width: 100%; */
  height: 85%;
  margin: 15px 0px;
}

#chefsPage section img {
  width: 100%;
  height: 100%;
}

#chefsPage section i {
  color: var(--brown-color);
  font-size: 20px;
}

/*
 MARK: Footer
*/
/* Website Footer Page Style */
#footerPage {
  padding: 10px 50px;
  background-color: var(--darkGray-color);
}

.footerSocialContainer {
  display: flex;
  padding: 10px 0px;
  /* background-color: tomato; */
}

.footerSocialContainer div {
  display: flex;
  /* padding: 10px; */
  width: 40px;
  height: 40px;
  margin: 0px 5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--midGray-color);
}

.face-pad{
  padding: 0px 2.5px;
}

.ins-pad{
  padding: 0px 1.8px;
}

#footerPage .instaImgContainer{
  width: 75%;
  height: 65%;
}

#footerPage .instaImgContainer img{
width: 100%;
height: 100%;
}